{% extends 'base.html.twig' %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %}
#}{% block title %}New Signification{% endblock %}

{% block body %}
<h1 class="text-center mb-4 text-dark">Nouveau Signification</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded-lg">
                <div class="card-body p-4">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <div class="d-flex justify-content-center gap-3 flex-wrap mt-4">
                        <a href="{{ path('app_signification_index') }}"
                            class="btn btn-outline-primary rounded-pill px-4">
                            Retour
                        </a>
                        {% if app.request.get('origin') == 'AddSignification'%}
                        <a href="{{path('app_exercice')}}" class="btn btn-outline-primary">Exercices</a>
                        {% endif %}
                        <button type="submit" class="btn btn-success rounded-pill px-4">
                            {{ button_label|default('Enregistrer') }}
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}